/*
Student: Rory Wirch
Contact: rory_wirch@student.uml.edu
Class: GUI I
Professor: Wenjin Zhou
Assignment: HW 8
File: hw8.html
*/

/* -------------------------------------------------------------------------- */

/* styling for pieces */
#tile-container img{
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
}

/* styling for piece holder */
#holder {
    height: 80px;
    width: 400px;
}
.normalScore {
    width: 72px;
    height: 80px;
}

.doubleLetterScore {
    width: 72px;
    height: 80px;
}

.doubleWordScore {
    width: 72px;
    height: 80px;
}
