/*
Student: Rory Wirch
Contact: rory_wirch@student.uml.edu
Class: GUI I
Professor: Wenjin Zhou
Assignment: HW 8
File: hw8.html
*/

/* -------------------------------------------------------------------------- */

/* styling for the drop area */
#snapTarget {
    width: 150px;
    height: 100px;
    border: 2px;
    border-style: solid;
}

/* styling for piece */
#tile-container img{
    max-width: 50%;
    max-height: 50%;
    display: block;
}

.normalScore {
    background-image: url("../images/scrabble/normal-square.png");
    width: 72px;
    height: 80px;
}

.doubleLetterScore {
    background-image: url("../images/scrabble/double-letter-square.png");
    width: 72px;
    height: 80px;
}

.doubleWordScore {
    background-image: url("../images/scrabble/double-word-square.png");
    width: 72px;
    height: 80px;
}
